@page
@model StudentPerformanceSystem.Features.Students.Pages.StudentDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>