@page "{id:int}"
@model StudentPerformanceSystem.Features.Students.Pages.StudentDetail

<h2>Edit Student</h2>

<form method="post">

    <input asp-for="Student.FirstName"/>

    <input asp-for="Student.LastName"/>

    <button type="submit">Save</button>

</form>

<form method="post" asp-page-handler="Delete">

    <button type="submit">Delete</button>

</form>