@page
@model StudentPerformanceSystem.Features.Users.Pages.Register

<form method="post">

    <input asp-for="Email" placeholder="Email"/>

    <input asp-for="Password" type="password"/>

    <button type="submit">Register</button>

</form>
